:root{
    /*DEFAULT TWEAKS*/
    --BGwhite: #f1f1f1;
    --FGwhite: #fafafa;
    --text: #010101;  
    /*GRUVBOX COLORSCHEME*/
    --aqua: #689d6a;

    --ajisai: #A39EC4;
    --sakura: #C49EC4;
    --suna: #C4C19E;
    --ichigo: #C49EA0;
    --yuyake: #CEB188;
    --sora: #9EC3C4;
    --kusa: #9EC49F;
    --kori: #A5B4CB;
    --amagumo: #4C4C4C;
    --yukiFG: #F0F0F0;

    --col_main: var(--aqua);
    --col_sec: var(--aqua);
    --roundcor: 5px;
    
}
.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

body{
    font-size: 62.5%;
    margin: 0%;
} /*agregue este body para que la pagina este desde el punto 0 para asi quede bien la barra de titulo xD att:your luis <3*/

.panel{
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem; font-weight: 500;
    background-color: var(--col_main);
    height: 3.5rem;
    
    display: flex; 
    align-items: center;
    padding: 0px 10px 0px 15px ;
    margin-bottom: 10px;
    border: 0px solid #010101;
    border-radius: 0px;

    img{ height: 30px; width: 30px; }
    .parte2{
        width: 4%;
        background-color: none;
    }
    .textletras{
        width: 90%;
        align-items: center;
        justify-content: center;
        .title{
            padding-left: 10px;
            color: var(--text);
            text-align: center; 
            align-items: center;
        }
    }
    
    
}

.dashboard{
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    display: flex;
    
    .profile{
        background-color: var(--BGwhite);
        width: 30%; height: 100%;
        
        margin-left: 15px;
        border-radius: 10px;
        border: 0px solid #010101;
        
        box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.3); /* Add shadow */

        .profilepicture{
            display:flex; justify-content: center;
            margin: auto; padding: 15px;
        
            img{
                border: 0px solid #010101; border-radius: 5px;
                box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.3);  /* Add shadow */
                
                border-radius: 50%;/**/
                height: 200px; width: 200px;
                
            }/**/
        }
        .profileabout{
            color: var(--text);
            padding: 25px;
            .centeredTitle{font-weight: 500; text-align:center;}
            .normalParagraph{text-align:justify;}
        }
        
    }

    .client_Card{
        display: flex; flex-wrap:wrap;
        width: 70%; height: 100%;
        margin-left: 10px;
        color: var(--text);
        img{ height: 40px; width: 40px; } /*For in-card pfp*/
        
        .card{
            background-color: var(--BGwhite);
            height: 150px; width: 300px;
            margin:  0px 10px 10px 10px;

            box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.3); /* Add shadow */
            border: 0px solid #010101;
            border-radius: var(--roundcor);
            
            .card_head{ 
                display:inline-flex; align-items: center;
                height: 70%; width: 100%; 
                .image{padding-left: 30px;}
                .add_register_txt{ 
                    text-align: left;
                    padding: 20px; 
                    font-size: 15px;
                    
                }
                .existing_reg{
                    text-align: left; 
                    padding: 20px; 
                    font-size: 15px;
                }
            }
            .plusSymbol{
                text-decoration: none;
                #plusSymbolChar{font-size: 30px;}
            }
            .card_footer{
                background-color: var(--col_sec); color: var(--text);            
                height: 30%; width: 100%;
                
                display: flex;
                align-items: center;
                justify-content: center;
                
                border-radius: 0px 0px var(--roundcor) var(--roundcor);

                img{
                    margin: 10px;
                    background-color: none;
                    width: 32px; height: 32px;
                }
            }
            
        }
    } 
}

