:root {
    --text: #010101;  
    --aqua: #689d6a;
    --col_main: var(--aqua);
    --blanco: #e7e4e4;
}

body {
    margin: 0 auto; /* Elimina el margen predeterminado */
}

.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.panel {
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    background-color: var(--col_main);
    height: 3.5rem;
    width: 100%;
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
}

.panel .parte2 {
    padding: 0px 0px 0px 20px;
    width: 15%;
    background-color: none;
}

.panel .textletras {
    width: 85%;
    align-items: center;
    justify-content: center;
}

.panel .textletras .title {
    padding-left: 0px; /* Fue un pecado ponerle 10px, ahora en 0 es simétrico */
    color: var(--blanco);
    text-align: center; 
    align-items: center;
}

@media (max-width:768px) {
    .panel {
        width: 100%;
    }
    
    .panel .parte2 {
        width: 10%;
    }
    
    .panel .textletras {
        width: 90%;
    }

    .contenedor-campos .cuadroTexto {
        width: 100%;
    }
}

@media(max-width: 440px) {
    .panel {
        width: 100%;
    }
    
    .panel .parte2 {
        width: 10%;
    }
    
    .panel .textletras {
        width: 90%;
    }

    .contenedor-campos .cuadroTexto {
        width: 100%;
    }
}

@media (min-width:1200px) {
    .panel {
        width: 100%;
    }
    
    .panel .parte2 {
        width: 4%;
    }
    
    .panel .textletras {
        width: 90%;
    }
}

.giro{
    display: grid;
    place-items: center;
    width: 100%; height: 100%;
    margin: 0px 0px 50px 0px ;
}
@media (min-width: 768px) {
    .giro {
        width: 100%;
        margin: 0px 0px 50px 0px ;
    }
}

.contenedor-campos {
    display: flex;
    width: 70%;
    font-size: 20px;
    
    padding: 30px 0px 30px 0px ;
    
    border-radius: 15px; 
    background-color: #fdfdfd;
    box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.3); /* Add shadow */
    margin-top: 2rem;
    justify-content: center;
    justify-items: center;
    text-align: left;
}

.contenedor-campos .editar-datos {
    font-size: 25px;
    text-align: none;
    margin-top: 20px;
}

.contenedor-campos .casillaTexto {
    text-align: none;
    margin-top: 10px;
}

.cuadro {
    width: 100%;
    height: 50px;
    background-color: #24b348;
    color: white;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}

.titulo {
    display: inline-block;
    margin-top: 0px;
    text-align: center;
}

.label {
    font-size: 20px;
    text-align: center;
}

.cuadroTexto {
    width: 600px;
    height: 30px;
    font-size: 16px;
}

.grid3 {
    display: grid;
    grid-template-rows: 2;
    margin: 0 auto;
    margin-right: 1rem;
}

.grid4 {
    display: grid;
    grid-template-rows: 2;
    margin: 0 auto;
    margin-left: 1rem;
}

.contenedor label {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.contenedor input[type="text"],
.contenedor select {
    width: 150px;
    margin-top: 5px;
}

.contenedor br {
    display: block;
    margin-top: 10px;
}

.casillaEstado {
    text-align: center;
    margin-top: 10px;
}

.seleccion {
    text-align: center;
}

.contenedorBotones {
    display: flex;
    justify-content: center; 
}

.boton-finalizar,
.boton-cancelar {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

.boton-finalizar {
    background-color: #28a745;
    color: black;
    border: none;
    transition: background-color 0.3s;
}

.boton-cancelar {
    background-color: #dc3545;
    color: black;
    border: none;
    transition: background-color 0.3s;
}

.boton-finalizar:hover,
.boton-cancelar:hover {
    filter: brightness(90%);
}
