body {
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
}

.cuadro {
    width: 100%; /* Ancho completo del contenedor */
    height: 50px; /* Altura del rectángulo */
    background-color: #24b348; /* Color de fondo verde */
    color: white; /* Color del texto */
    font-size: 30px; /* Tamaño de la fuente */
    line-height: 50px; /* Alineación vertical del texto */
    text-align: center; /* Alineación horizontal del texto */
}

.titulo {
    display: inline-block; /* Para que el ancho del contenedor se ajuste al texto */
    margin-top:0px; /* Espacio entre el texto y el borde superior del cuadro */
    text-align: center; /* Alineación horizontal del texto */
}

.editar-datos {
    font-size: 25px; /* Tamaño del texto */
    text-align: center; /* Alineación horizontal del texto */
    margin-top: 20px; /* Espacio entre el texto y el rectángulo */
}

.casillaTexto {
    text-align: center; /* Alineación horizontal del contenido */
    margin-top: 10px; /* Espacio entre el texto y el campo de entrada */
}

.label {
    font-size: 20px; /* Tamaño del texto */
    text-align: center; /* Alineación horizontal del texto */
    
}

.cuadroTexto {
    width: 600px; /* Ancho del campo de entrada */
    height: 30px; /* Altura del campo de entrada */
    font-size: 16px; /* Tamaño del texto */
}

.contenedor {
    margin-top: 20px; /* Espacio superior */
    border-color: #24b348;
    border-style: solid;
    text-align: center; /* Centrar el contenido */
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.grid2{
    display: grid;
    grid-template-rows: 2;
    margin: 0 auto;
}


/* Estilos para las etiquetas "Edad" y "Sexo" */
.contenedor label {
    display: inline-block; /* Para que estén en la misma línea */
    width: 100px; /* Ancho fijo para las etiquetas */
    text-align: right; /* Alinear el texto a la derecha */
}

/* Estilos para las casillas de respuesta */
.contenedor input[type="text"],
.contenedor select {
    width: 150px; /* Ancho fijo para las casillas */
    margin-top: 5px; /* Espacio superior */
}

/* Estilos para el salto de página */
.contenedor br {
    display: block; /* Forzar el salto de línea */
    margin-top: 10px; /* Espacio entre líneas */
}

.casillaEstado {
    text-align: center; /* Alineación horizontal del contenido */
    margin-top: 10px; /* Espacio entre el texto y el campo de entrada */
}

