:root{
    /*DEFAULT TWEAKS*/
    --BGwhite: #f1f1f1;
    --FGwhite: #fafafa;
    --blanco: #e7e4e4;
    --text_dark: #010101;  
    --text_white: #ececec;  
    /*GRUVBOX COLORSCHEME*/
    --aqua: #689D6A;
    --col_main: var(--aqua);
    --roundcor: 10px;
}
.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
body{
    font-size: 62.5%; 
    margin: 0%;
}
.panel{
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem; font-weight: 500;
    background-color: var(--col_main);
    height: 3.5rem;
    
    display: flex; 
    align-items: center;
    padding: 0px 10px 0px 15px ;
    margin-bottom: 10px;
    border: 0px solid #010101;
    border-radius: 0px;

    .parte2{
        width: 15%;
        background-color: none;
    }
    .textletras{
        width: 85%;
        align-items: center;
        justify-content: center;
        .title{
            padding-left: 10px;
            color: var(--blanco);
            text-align: center; 
            align-items: center;
        }
    }
}
@media (min-width:768px) {
    .panel{
        .parte2{
            width: 10%;
        }
        .textletras{
            width: 90%;
        }
    }
}
@media (min-width:1200px) {
    .panel{
        .parte2{
            width: 4%;
        }
        .textletras{
            width: 90%;
        }
    }
}
.mainBody{
    font-family: "Fira Sans", sans-serif;
    display: flex;
    height: 100%;
    
    .extendedRegList{
        background-color: var(none); /*? usado para testing*/
        height: 100%; width: 70%;

        margin: 10px 25px 10px 10px ; 
        border-radius: var(--roundcor);
        .card{
            background-color: var(--FGwhite);
            height: 50px; width: 100%;
            
            display: flex;
            
            margin: 0px 0px 10px 0px; 
            border: 0px solid #010101; 
            border-radius: var(--roundcor);
            box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.3);

            .card_head{
                background-color: var(--col_main);/**/
                height: 99%; width: 10%;

                display: flex;
                align-items:center;
                justify-content: center;

                border-radius: var(--roundcor);
                
            }
            .card_body{
                background-color: none;/*? usado para testing*/
                height: 99%; width: 100%;
                display: flex;
                text-align: center;
                justify-content: center;
                a{
                    font-size: 1rem;
                    color: var(--text_dark);
                    text-decoration: none;
                    
                }
            }
            .card_tail{
                background-color: var(--BGwhite);/**/
                border-radius: var(--roundcor);
                height: 99%; width: 15%;
                
                display: flex;
                align-items:center;
                justify-content: center;
                
                img{padding: 0px 10px 0px 0px;}
            }

        }
            
    }
    
    .searchAndFilters{
        background-color: var(--BGwhite);/**/
        width: 30%; height: 500px;
        
        display: flex;

        margin: 10px 10px 0px 20px;
        box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.3);
        border: 0px solid #010101;
        border-radius: var(--roundcor);

        .mainSearchFrame{
            background-color: var(--BGwhite);
            width: 100%; height: 100%;

            border-radius: var(--roundcor);
            border: 0px solid #010101;
            
            .searchbar{
                background-color: var(none);/*? usado para testing*/
                height: 40px;
                
                display: flex;
                align-items:center;
                flex-direction: column;
                
                border: 0px solid #010101; 
                margin: 20px;
                /*p{margin: 0px;}/*TODO: eliminar*/
                .searchField{
                    height: 40px; width: 95%;
                    text-align: center;
                    border-radius: var(--roundcor);
                    border: 0px solid #010101; 
                }
            }
        }
    }
}


@media(max-width:768px){
    .panel{
        .parte2{margin-left: 15px; width: 4%;}
    }
    .mainBody{
        display: grid;
        margin: 0px 7px 0px 0px ;
        .extendedRegList{
            width: 97%; height: 100%;
            margin: 20px 0px 0px 10px ;
            .card{
                border: 0px solid #010101; 
                .card_head{width: 15%; img{width: 26px; height: 26px;}}
                .card_body{
                    display: flex;
                    text-align: center;
                    a{  align-content: center;
                        justify-content: center;
                        text-decoration: none;
                        color: var(--text_dark);
                    }
                    p{margin: 0 ; font-size: 16px;}
                }
                .card_tail{width: 30%; img{width: 30px; height: 30px;}}
            }
        }
        .searchAndFilters{
            display: flex;
            width: 97%; height: 100%;

            margin: 0px 0px 0px 10px ;
            .mainSearchFrame{
                border: 0px solid #010101; 
            }
        }
    }
    
}