:root{
    /*DEFAULT TWEAKS*/
    --BGwhite: #f1f1f1;
    --FGwhite: #fafafa;
    --text_dark: #010101;  
    --text_white: #ececec;  
    /*GRUVBOX COLORSCHEME*/
    --aqua: #689D6A;

    --col_main: var(--kusa);
    --roundcor: 10px;
    
}
.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
body{
    font-size: 62.5%; 
    margin: 0%;
}

.panel{
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem; font-weight: 500;

    background-color: var(--col_main);
    padding-left: 20px; margin-bottom: 20px;
    display: flex; align-items: center;
    height: 3.5rem;
    
    border: 0px solid #010101; 
    border-radius: 0px;

    img{ height: 30px; width: 30px; }
    
    .title{
        padding-left: 10px;
        color: var(--text);
        text-align: center; 
        align-items: center;
    }
    
}
.mainBody{
    font-family: "Fira Sans", sans-serif;
    display: flex;
    height: 100%;
    
    .extendedRegList{
        /*background-color: var(--BGwhite);/**/
        height: 100%; width: 70%;

        margin: 10px; 
        border-radius: 10px;
        .card{
            background-color: var(--FGwhite);
            height: 50px; width: 100%;
            
            display: flex;
            /*
            display: grid;
            grid-template-columns: repeat(3,1fr) ;/**/

            margin: 0px 0px 10px 0px; 
            border: 1px solid #010101; 
            border-radius: var(--roundcor);
            box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.3);

            .card_head{
                background-color: var(--col_main);/**/
                height: 99%; width: 10%;

                display: flex;
                align-items:center;
                justify-content: center;

                border-radius: var(--roundcor);
                
            }
            .card_body{
                /*background-color: #A39EC4;/**/
                height: 99%; width: 100%;
                display: flex;
                text-align: center;
                justify-content: center;
            
                p{font-size: 1rem;}
                .asd{
                    margin: 0 auto;
                    height: 32px; width: 32px;
                }
            
            }
            .card_tail{
                background-color: var(--BGwhite);/**/
                border-radius: var(--roundcor);
                height: 99%; width: 15%;
                
                display: flex;
                align-items:center;
                justify-content: center;
                
                img{padding: 0px 10px 0px 0px;}
            }

        }
            
    }
}
.searchAndFilters{
    background-color: var(--BGwhite);/**/
    width: 30%; height: 500px;
    
    display: flex;

    margin: 10px 20px 0px 10px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.3);
    border: 0px solid #010101;
    

    .mainSearchFrame{
        background-color: var(--BGwhite);
        width: 100%;

        border-radius: var(--roundcor);
        border: 1px solid #010101;
        
        .searchbar{
            /*background-color: var(--FGwhite);/**/
            height: 40px;
            
            display: flex;
            align-items:center;
            flex-direction: column;
            
            border: 0px solid #010101; 
            margin: 20px;
            /*p{margin: 0px;}/**/
            .searchField{
                height: 40px; width: 90%;
                text-align: center;
            }
        }
    }
}