.barrasuperior{
    font-family: "Fira Sans", sans-serif;
    font-size: 20px; font-weight: 500;

    background-color: #689D6A;
    padding-left: 50px; margin-bottom: 50px;
    display: flex; align-items: center;
    height: 50px;
    width: 1298px;
    border: #010101; border-width: 0px; 
    border-radius: 0px; border-style: solid;

    img{ height: 30px; width: 30px; }
}
body {
    margin: 0;
}

.contenedor-campos{
    text-align: center;
    padding-bottom: 500px;
    width: 100%;
}
h2{
    text-align: center;
    margin: 0 auto;
}
section{
    width:1298px ;
}
