@charset "utf-8";

:root{
    --blanco: #ffffff;
    --oscuro: #000000;
    --primario_barra:	#689d6a;	
    --botones:	pink;
    --grisclaro:	#9a9898;
    --rosaClaro: #895486;
    --bg: #FBF1C7;
    --gray: #928374;
    --red: #9D0006;
    --green: #79740E;
    --yellow: #B57614;
    --blue: #076678;
    --purple: #8F3F71;
    --orange: #AF3A03;
    --fg: #3C3836;
    --gray2: #7C6F64;
    --text: #010101;  
    --aqua: #689d6a;
    --col_main: var(--aqua);
}

body{
    font-size: 62.5%;
    margin: 0%;
}
.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
} 
.panel{
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem; font-weight: 500;
    background-color: var(--col_main);
    height: 3.5rem;
    
    display: flex; 
    align-items: center;
    padding: 0px 10px 0px 15px ;
    margin-bottom: 10px;
    border: 0px solid #010101;
    border-radius: 0px;

    .parte2{
        width: 15%;
        background-color: none;
    }
    .textletras{
        width: 85%;
        align-items: center;
        justify-content: center;
        .title{
            padding-left: 10px;
            color: var(--text);
            text-align: center; 
            align-items: center;
        }
    }
}
@media (min-width:768px) {
    .panel{
        .parte2{
            width: 10%;
        }
        .textletras{
            width: 90%;
        }
    }
}
@media (min-width:1200px) {
    .panel{
        .parte2{
            width: 4%;
        }
        .textletras{
            width: 90%;
        }
    }
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.menu-principal{
    margin: 2rem 2rem 0% 2rem; /*arriba, derecha, abajo, izquierda*/
    height: 550px;
}
.cuadro{
    .acomodo{
        text-align: center;
    }

    .texto{
        font-size: 1.5rem;
    }
}
@media (min-width:768px) {
    .cuadro{
        display: flex;
        gap: 4.5rem;
    
        .acomodo{
            width: 40%;
        }
    
        .texto{
            h3,p{
                padding: 0.5rem;
                margin: 0%;
                border: 0%;
            }
            width: 60%;
            font-size: 1.7rem;
        }
    }
}
@media (min-width:1200px) {
    .cuadro{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    
        .acomodo{
            width: 30%;
        }
    
        .texto{
            h3,p{
                padding: 0.5rem;
                margin: 0%;
                border: 0%;
            }
            width: 70%;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
}

.botones{
    display: flex;
    width: 100%;
    a{  
        margin: 1rem auto;
        text-align: center;
        width: 12rem;
        height: 1rem;
        font-size: 1rem;
        text-decoration: none;
        background-color: var(--rosaClaro);
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        padding: 1rem;
        transition: background-color 0.3s ease-out;
    }
    a:hover{
        background-color: var(--purple);
    }
}
@media (min-width:768px) {
    .botones{
        a{  
            width: 15rem;
            font-size: 1.2rem;
        }
    }
}

.grid-three-column{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.botones2{
    display: flex;
    width: 100%;
    gap: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    a{
        text-align: center;
        width: 12rem;
        font-size: 1rem;
        text-decoration: none;
        background-color: #00ff11;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        padding: 1rem;
        transition: background-color 0.3s ease-out;
    }
    a:hover{
        background-color: #0cbc00;
    }
    justify-content: center;
}
@media (min-width:768px) {
    .botones2{
        margin-bottom: 0;
        a{
            width: 15rem;
            font-size: 1.2rem;
        }
    }
}

.tabla{
    border: 2px var(--oscuro) solid;
    margin-top: 27rem;
    margin-bottom: 2rem;
    td, th{
        font-size: 0.33rem;
        text-align: center;
        width: 10rem;
        height: 2rem;
        border: 2px;
        border-color: var(--oscuro);
        border-style: solid;
    }
    th{
        color:#fff;
        background-color: #252525;
    }
    
    tr:nth-child(odd) td{
        background-color:#eee;
    }
}
@media (min-width:768px) {
    .tabla{
        margin: 0 auto;
        margin-top: 0.4rem;
        margin-bottom: 0;
        td, th{
            font-size: 0.9rem;
            width: 14rem;
            height: 3rem;
        }
    }
}
@media (min-width:1200px) {
    .tabla{
        margin: 0 auto;
        margin-top: 0.4rem;
        margin-bottom: 0;
        td, th{
            font-size: 0.9rem;
            width: 14rem;
            height: 3rem;
        }
    }
}
