@charset "utf-8";

:root{
    --blanco: #ffffff;
    --oscuro: #000000;
    --primario_barra:	aquamarine;	
    --botones:	pink;
    --grisclaro:	#727272;
    --rosaClaro: #895486;
}
body{
    font-size: 62.5%;
    margin: 0%;
}
header{
    grid-column: 2/3;
    .centrar{
        text-align: center;
    }
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.encabezado{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: aquamarine;
    .image{
        grid-column: 1/2;
        align-items: start;
        width: 5rem;
        height: 5rem;
    }
}
.nav-bg{
    background-color: var(--secundario_menu);
}

.navegacion-principal{
    display: flex;
    flex-direction: row;
}
.nav-bg a{
    font-size: 3rem;
    text-decoration: none;
    color: var(--oscuro);
}
.menu-principal{
    margin: 2rem 2rem 0% 2rem; /*arriba, derecha, abajo, izquierda*/
    height: 550px;
}
.cuadro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    .texto{
        font-size: 2rem;
    }
}
.acomodo{
    grid-column: 1/2;
}
.texto{
    grid-column: 2/3;
    
    .centrado{
        text-align: center;
    }
}
.grid-two-column{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: center;
}
.botones{
    display: flex;
    width: 100%;
    a{  
        margin: 0 auto;
        text-align: center;
        width: 15rem;
        height: 1rem;
        font-size: 1.2rem;
        text-decoration: none;
        background-color: #00ff11;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        padding: 1rem;
        transition: background-color 0.3s ease-out;
    }
    a:hover{
        background-color: #0cbc00;
    }
}
.grid-three-column{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.botones2{
    display: flex;
    width: 100%;
    gap: 3rem;
    a{
        
        text-align: center;
        width: 15rem;
        font-size: 1.2rem;
        text-decoration: none;
        background-color: #00ff11;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        padding: 1rem;
        transition: background-color 0.3s ease-out;
    }
    a:hover{
        background-color: #0cbc00;
    }
    justify-content: center;
}