:root{
    --blanco: #ffffff;
    --oscuro: #000000;
    --primario_barra:	aquamarine;	
    --botones:	pink;
    --grisclaro:	#727272;
    --rosaClaro: #895486;
    --text: #010101;  
    --aqua: #326734;
    --col_main: var(--aqua);
}
.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
body{
    font-size: 62.5%;
    margin: 0%;
}

.panel{
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem; font-weight: 500;
    background-color: var(--col_main);
    height: 3.5rem;
    
    display: flex; 
    align-items: center;
    padding: 0px 10px 0px 15px ;
    margin-bottom: 10px;
    border: 0px solid #010101;
    border-radius: 0px;
    .textletras{
        width: 100%;
        align-items: center;
        justify-content: center;
        .title{
            padding-left: 10px;
            color: var(--blanco);
            text-align: center; 
            align-items: center;
        }
    }
}
.encabezado{
    height: 3rem;
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
}
.centrar{
    margin: 0 auto;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1{
    font-weight: normal;
    font-size: 2rem;
    text-shadow: 0 0 0.2rem rgba(0,0,0,0.5);
    margin-bottom: 3rem;
}
@media (min-width:768px) {
    h1{
        font-size: 2.4rem;
        margin-bottom: 2.5rem;
    }
}

label{
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    padding-left: 1rem;
}
@media (min-width:768px) {
    label{
        font-size: 1.5rem;
    }
}

a{ 
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 1rem 0;
    background-color: #895486;
    display: block;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color 0.3s ease-out;
    text-align: center;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
    border-radius: 4rem;
}
@media (min-width:768px) {
    a{ 
        font-size: 1.5rem;
    }
}

a:hover{
    background-color: #7a2575;
}